* {
    margin: 0;
    padding: 0;
  }
  #logo{
    position: absolute;
    top: 1%;
    left:3%;
  }
  
  a {
    color: #fff;
    
  }
  
  
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 6px;
    position: absolute;
    left: 10%;
    top: 1%;
  }
  
  nav {
    display: inline-block;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #00008b;
    height: 8vh;
    text-decoration: none;
  }
  
  .nav-list {
    list-style: none;
    position: absolute;
    left: 50%;
    text-decoration: none;
  }
  
  .nav-list li {
    letter-spacing: 4px;
    margin-left: 42px;
    display:inline;
    top: 2%;
     text-decoration: none;
  
  }
  
  
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 15vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #00008b;
    
   
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }

  .titi {
    width:300px;
    height: 400px;
    position: absolute;
    top:20%;
    left: 5%;
    }
  .titi img {width: 100%;}
  
  
  .fufa{
    height: 400px;
    width: 1300px;
    border: solid;
    background-color: black;
    opacity:initial;
  }
  .tuta{
    position: absolute;
    left: 56%;
    top: 30%;
  }
  .text{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    left: 33%;
    top: 19%;
  }
  .text2{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    position: absolute;
    left: 33%;
    top: 30%;
  }
  .text3{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    position: absolute;
    left: 33%;
    top: 40%;
    text-transform:uppercase ;
    text-align: left;
  }
  
  .myButton {
	box-shadow:inset 0px -11px 25px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border-radius:15px;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:10px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
    position: absolute;
    left: 33%;
    top: 55%;
}
.myButton:hover {
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}


.mButton {
	box-shadow:inset 0px -11px 25px 3px #ff9100;
	background:linear-gradient(to bottom, #ff9100 5%, #ff9100 100%);
	background-color:#ff9100;
	border-radius:15px;
	border:1px solid #ce2900;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:10px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ff0c0c;
    position: absolute;
    left: 53%;
    top: 55%;
}
.mButton:hover {
	background:linear-gradient(to bottom, #b80000 5%, #ff0000 100%);
	background-color:#ff5100;
}
